body {
    background-color: #c5e8e5;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
header {
    text-align: center;
    font-size: larger;
    font-weight: lighter;
}
.outer_grid {
    align-items: center;
    justify-content: center;
    background-color: #676363;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    border: 1px solid #e0087f;
}
/* .ineer_grid {
    height: 100px;
    width: 100px;
} */
button.inner_grid{
    height: 125px;
    width: 125px;
}
